/* Defaults and Overrides of core.css*/
html {overflow: auto;}
body {  font: 14px/20px "proxima-nova", Helvetica, Arial, sans-serif;  color: #333;}
h1, h2, h3, h4, h5, h6, ul, ol,dl, p,blockquote,pre,address,fieldset, .mod, .media  {margin:10px;}
::-moz-selection {  background: #edbb54;  color: #fff;  text-shadow: none;}
::selection {  background: #edbb54;  color: #fff;  text-shadow: none;}

a:link {  -webkit-tap-highlight-color: #336699;}
h1 {  font-size: 36px;  color: #333;  font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;  font-weight: normal;  text-transform: uppercase;}
h2 {  font-size: 30px;  color: #333;  font-weight: normal;  font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;  font-weight: normal;  line-height: 30px;  text-transform: uppercase;}
h3 {  font-size: 18px;  text-transform: uppercase;  color: #333;  font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;  font-weight: normal;}
h4 {  text-transform: uppercase;  font-size: 16px;  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;  font-weight: normal;}
h5 {  font-size: 100%;  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;  font-weight: normal;}
h6 {  font-size: 100%;  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;  font-weight: normal;}
input[type="text"], input[type="password"] {  height: 30px;}
input[type='submit'] {width: auto;}

p{margin-bottom: 20px;}

a, a:active, a:visited { color: #3883a8; text-decoration:none;  }
a:hover { color: #3883a8; text-decoration:underline; }

::-moz-selection{ background: #edbb54; color:#fff; text-shadow: none; }
::selection { background:#edbb54; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #edbb54; }

input:focus, textarea:focus, select:focus {border: 1px solid #ccc; box-shadow: none;outline: medium none;}
input[type="text"], input[type="password"] {}
input[type="text"], input[type="password"] {box-shadow: none; height: 100%; background: transparent; line-height: 30px; border: none; margin: 0; padding: 0; width: 100%;}
input[type="checkbox"] {float: left; margin-right: 10px; padding-top: 5px;}
label {display: block; font-weight: 600; font-size: 14px;}







