/* Defaults and Overrides of core.css*/
body {
  font: 14px/20px "Proxima Nova", Helvetica, Arial, sans-serif;
  color: #333;
}

.pn-light {
  font-family: "Proxima Nova Light", Helvetica, Arial, sans-serif
}

.pn-reg {
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif
}

a, a:active, a:visited {
  color: #336699;
  text-decoration: none;
}

a:hover {
  color: #336699;
  text-decoration: underline;
}

::-moz-selection {
  background: #edbb54;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #edbb54;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #336699;
}

h1, .h1 {
  font-size: 36px;
  color: #333;
  font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;
  font-weight: normal;
  text-transform: uppercase;
}

h2, .h2 {
  font-size: 30px;
  color: #333;
  font-weight: normal;
  font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;
  font-weight: normal;
  line-height: 30px;
  text-transform: uppercase;
}

h3, .h3 {
  font-size: 18px;
  text-transform: uppercase;
  color: #333;
  font-family: "Proxima Nova Condensed", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h4, .h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h5, .h5 {
  font-size: 100%;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}

h6, .h6 {
  font-size: 100%;
  font-family: "Proxima Nova Regular", Helvetica, Arial, sans-serif;
  font-weight: normal;
}
