body {}


/* page
-----------------*/
.page-wrapper-ext {padding-top:40px;}
.page-header {background: transparent url(/images/taskr_header.jpg) repeat-x scroll 0 0; height: 100px;}
.page-header h1 {color: #fff; font-size: 42px; font-weight: 700; margin-top: 26px;}
.page-header .account {margin-top: 40px;}
.page-header .account a {float: right; color: #fff; font-size: 16px;}

.page-skin-ps2 {}
.page-skin-ps2 .page-logo a {color: #fff;}
.page-skin-ps2 .page-logo a:hover {text-decoration: none;}

/* menu
-----------------*/

/* tabs
-----------------*/


/* pagination
-----------------*/


/* icons
-----------------*/

/* buttons
-----------------*/

a.button-skin-primary,
input.button-skin-primary,
button.button-skin-primary {
    border-color: #c63328 #c63328 #c63328;
    background-color: #c63328;
    background-image: -webkit-gradient(linear, left top, left bottom, to(#c6554c), from(#c63328));
    background-image: -webkit-linear-gradient(top, #c6554c, #c63328);
    background-image: -moz-linear-gradient(top, #c6554c, #c63328);
    background-image: -o-linear-gradient(top, #c6554c, #c63328);
    background-image: -ms-linear-gradient(top, #c6554c, #c63328);
    background-image: linear-gradient(top, #c6554c, #c63328);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#c8df7c', EndColorStr='#aad033');
    background-repeat: no-repeat;
    -webkit-transition: 0.1s linear all;
    -moz-transition: 0.1s linear all;
    -ms-transition: 0.1s linear all;
    -o-transition: 0.1s linear all;
    transition: 0.1s linear all;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
   /*text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);    */
    text-shadow: 0 1px 0px rgba(255, 255, 255, 0.45);
    text-transform: uppercase;
    font-weight: 600;
    font-family: "proxima-nova-condensed", "Helvetica Neue", "Arial";
    color: #fff;
    /*color: rgba(0, 0, 0, 0.55);*/
    }
.button-skin-primary:hover {
  color: #f2f2f2;
}

.button-skin-primary.button-skin-primary-ext {
  border-color: #e6e6e6 #e6e6e6 #e6e6e6;
  background-color: #e6e6e6;
  background-image: -webkit-gradient(linear, left top, left bottom, to(#e6e6e6), from(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #eaeaea, #e6e6e6);
  background-image: -moz-linear-gradient(top, #eaeaea, #e6e6e6);
  background-image: -o-linear-gradient(top, #eaeaea, #e6e6e6);
  background-image: -ms-linear-gradient(top, #eaeaea, #e6e6e6);
  background-image: linear-gradient(top, #eaeaea, #e6e6e6);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#eaeaea', EndColorStr='#e6e6e6');
  color:#333;
}
.button-skin-primary-ext:hover {
  color:#333;

}

/* links
-----------------*/



/* headings
-----------------*/
.category{font-size:108%; font-weight:normal; font-style: normal; text-transform:uppercase; color: #333;}
.category a{color: #333;}
.page-heading{margin-bottom:30px;}
.post-heading{margin-bottom: 10px;}
.section-heading{margin-bottom: 20px;font-size:200%; line-height:1.25; font-weight:bold; font-style: normal; color:#333333;}
.white-large{font-weight:200;font-size:32px;line-height:42px;margin-bottom:20px;color:#ffffff;}
.white-large strong{font-size:52px;font-weight:500;color:#ffffff;}
.white-medium{color:#ffffff;font-size:28px;font-weight:200;line-height:30px;}
.white-medium strong{color:#ffffff;font-size:32px;font-weight:500;line-height:30px;}
.white-small{color:#ffffff;font-size:22px;font-weight:200;line-height:30px;}
.white-small strong{color:#ffffff;font-size:26px;font-weight:500;line-height:30px;}

.lp-heading {font-size: 40px; color: #4089b5; font-weight: 500; margin-top: 20px;}




/* lists
-----------------*/
/* numbered list */
ol.simpleList li{list-style-type: decimal; margin-left:40px;}
/* standard list */
ul.simpleList li{list-style-type:disc; margin-left:40px;}
/* base list */
ul.baseList li{list-style-type:none; margin-left:   0px;}
/* list style one */
.list-1 li{list-style:none;border-bottom: 1px solid #EDEDED;padding: 10px;padding-left:0;margin-left: 0;}
.list-1 li:first-child {border-top: 1px solid #EDEDED;}
.list-1 .media {margin: 0;}
/* list style tabs */



.section {margin-bottom: 20px;}

.list-skin-1 {}
.list-skin-1 li {  list-style-image: url(images/list-image-plus.png);  font-weight: 200;  font-size: 16px;  line-height: 150%; margin-bottom: 10px; margin-left: 0;}


/* images
-----------------*/

/* Mods
-----------------*/
.mod-skin-create-tasks {border: 1px solid #ccc;}
.mod-skin-create-tasks .mod-header {background: #F1F1F1;}
.mod-skin-create-tasks .mod-body {margin:  20px;}
.mod-skin-create-tasks .mod-body p {  margin-left: 0;}
.mod-skin-create-tasks .mod-footer {}

.mod-skin-primary {border: 1px solid #ccc;}
.mod-skin-primary .mod-header {background: #F1F1F1;}
.mod-skin-primary .mod-body {margin:  20px;}
.mod-skin-primary .mod-body p {  margin-left: 0;}
.mod-skin-primary .mod-footer {}

.mod-ext-form .mod-body {margin: 0;}
/* forms
-----------------*/
.form .form-errors {}
.field {margin: 20px;}
.field .field-input-skin-1 {border: 1px solid #ccc; height: 30px;}


/* Tables
------------------*/

.th-skin-task {max-width: 38px;}
.th-skin-notes {min-width: 200px; max-width: 50%;}


.table-skin-secondary {width: 100%;}
.table-skin-secondary tr {background: #f7f7f7;height: 40px;}
.table-skin-secondary tr:nth-child(even) {  background: #fbfbfb;}
.table-skin-secondary thead tr {background: #e6e6e6;}
.table-skin-secondary td { border: 1px solid #e0e0e0; vertical-align: middle;padding-left: 10px;}


.table-skin-primary {width: 100%;}
.table-skin-primary tr {background: #f7f7f7;height: 40px;}
.table-skin-primary tr:nth-child(even) {background: #fbfbfb;}
.table-skin-primary td { border: 1px solid #e0e0e0; text-align: center; vertical-align: middle;}
.table-skin-primary th, .table-skin-primary td { text-align: center; vertical-align: middle;}
.table-skin-primary thead td h2 { font-weight: 600; font-family: "proxima-nova-condensed", sans-serif; color: #666; text-transform: uppercase;}
.table-skin-primary th h3 { font-size: 18px; font-family: "proxima-nova-extra-condensed", sans-serif; color: #eaeaea; line-height: 16px; font-weight: 600;}
.table-skin-primary thead tr:last-child { background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.08, rgb(97, 97, 97)), color-stop(0.77, rgb(131, 131, 131))); background-image: -moz-linear-gradient(center bottom, rgb(97, 97, 97) 8%, rgb(131, 131, 131) 77%); height: 50px;}
.table-skin-primary td:first-child { background-color: #eceeef;}
.table-skin-primary .day { width: 24px;}
.table-skin-primary .today td{ background: #ffffb3;}
.table-skin-primary .notes { width: 50%;}
.table-skin-primary .notes { padding: 5px;}
.table-skin-primary td i.checked { display: inline-block; background: transparent url(../images/check_mark.png) no-repeat scroll 0 0; height: 32px; width: 30px; vertical-align: middle; margin: 5px 0 0 0;}
.table-skin-primary .notes textarea {width: 100%;resize: none;display: none;line-height: 1.4em;height: 26px;background: transparent;border: none;margin:  0;}
.table-skin-primary .notes p {text-align: left; margin:  0;}
.table-skin-primary .notes .mod-footer {display: none; text-align: left;}


.no-tasks h1 {font-size: 120px; font-family: "proxima-nova";text-transform: none; font-weight: 400;}
.no-tasks h2 {font-size: 60px; font-family: "proxima-nova"; text-transform: none; line-height: normal; font-weight: 200;}
