/* headings
-----------------*/
.page-title {margin-top:30px;margin-bottom:27px;}

.loading {background-color: rgba(0,0,0,0.1);opacity:0.5}

/* Actual Theme Styles (colors and background images only) */
body{background: #ffffff url(/stylesheets/images/bg-body.gif) repeat-x 0 0; }

.body-dd {background: url(/stylesheets/images/bg-page.gif) repeat;padding: 10px;}

/* lists
-----------------*/
.list-style-1 {}
.list-style-1 li {overflow: hidden;padding: 10px 0;border-top: solid 1px #ece9e3;margin-left: 0;}
.list-style-1 li:first-child {border: none;}
.list-style-1 li:last-child {padding-bottom: 0}

.store-grid  {margin: 0;}
.store-grid li {float: left;height: 160px;width: 140px;list-style: none;margin: 6px;}


/* img
-----------------*/
.img-style-1 {background: #ffffff; border: 1px solid #ECE9E3;padding: 10px; }



/* links
-----------------*/
.link-dark {color: #4F2F11;}




/* ?
-----------------*/
#site-search .field  {z-index: 100000;}
#site-search .ui-autocomplete {padding:50px 10px 10px;z-index: -100;}
#site-search .ui-autocomplete li {list-style: none;margin-bottom: 5px;}



