<%= @days[0] %>

<header>
  <h1>PS2</h1>
</header>

<div class="page page-month">
<section id="bd" data-role="content" data-user='<%= @user.id %>'>
  <table class="mod mod-table">
    <thead>
    <tr>
      <td colspan="7"><h2>September</h2></td>
    </tr>
    <tr>
      <th class="day"><h3>Day</h3></th>
      <th class="" data-task-id=""><h3>Morning Prayer</h3></th>
      <th class=""><h3>Evening Prayer</h3></th>
      <th class=""><h3>Scripture Study</h3></th>
      <th class=""><h3>Service Kindness</h3></th>
      <th class=""><h3>Daily Total</h3></th>
      <th class="notes"><h3>Notes</h3></th>
    </tr>
    </thead>
    <tbody>

    <tr class="" data-date="" data-recorded="">
      <td></td>
      <td class="task" data-task="morning_prayer"><i class=""></i></td>
      <td class="task" data-task="evening_prayer"><i class=""></i></td>
      <td class="task" data-task="scripture_study"><i class=""></td>
      <td class="task" data-task="service"><i class=""></i></td>
      <td class="total"></td>
      <td class="notes"><p></p><textarea></textarea></td>
    </tr>


    </tbody>
    <tfoot></tfoot>
  </table>


</section>
</div>