<header id="header">
  <div class="page">
    <div class="unit size1of5">
      <h1>ps2</h1>

    </div>
    <div class="unit 3of5"><p style="color: #fff;">alpha (anything you enter here probably will be deleted later)</p></div>
    <div class="unit-right size1of5 account">
      <%= get_account_links() %>
    </div>
  </div>
</header>